@media screen and (min-width: 700px) {
    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        background: none;
    }

    .navigation a {
        padding: 0.5rem 1rem;
    }

    .container {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    header {
        padding: 1rem 2rem;
    }
}